In [24]:
import pandas as pd

## Q1: Create a Series with indexes = 1, 2, 3 and has three names.

In [25]:
index = [1, 2, 3 ]
names = ['Salman','Sarah','Ahmed']
s2 = pd.Series(names, index=index)
s2

1    Salman
2     Sarah
3     Ahmed
dtype: object

## Q2: Change indexes to 11, 12, 13.

In [26]:
s2 = pd.Series(names, index=[11,12,13])
s2

11    Salman
12     Sarah
13     Ahmed
dtype: object

## Q3: Retrieve First and second elements.

In [27]:
print(s2[0:2])

11    Salman
12     Sarah
dtype: object

## Q4: Add duplicate elements, then remove the duplication.

In [28]:
s3 = pd.Series({50: 'Ahmed', 60: 'Nada'})
s2 = s2.append(s3)
print(s2)
s2.drop_duplicates()

11    Salman
12     Sarah
13     Ahmed
50     Ahmed
60      Nada
dtype: object

11    Salman
12     Sarah
13     Ahmed
60      Nada
dtype: object

## Q5: Create a Students DataFrame has three columns (ID, Name, GPA).

In [29]:
 data = {"ID": [1, 2, 3], 
         "Name": ["Salman", "Ali", "Khalid"], 
         "GPA": [4.00, 3.25, 4.30]}

## Q6: Read educ_figdp_1_Data.csv file and print the head.

In [30]:
df1 = pd.DataFrame(data)
df1.head()

   ID    Name   GPA
0   1  Salman  4.00
1   2     Ali  3.25
2   3  Khalid  4.30

## Q7: Give an example shows the difference between loc and slicing?
**Note:**
- loc use the index labels as references.
- slice use the position as references.

In [36]:
print(df1.loc[:2])
df1[:2]

   ID    Name   GPA
0   1  Salman  4.00
1   2     Ali  3.25
2   3  Khalid  4.30

   ID    Name   GPA
0   1  Salman  4.00
1   2     Ali  3.25

### Loc print last elemen, The same element you typed 
### slice will print the penultmate number you typed